<div ng-controller="ownerController as OC" class="container">

<br><br>

<h2>Add Owner</h2>

<form ng-submit="OC.addOwner(OC.newOwner)">
    <input ng-model="OC.newOwner.first_name" type="text" placeholder="Owner First Name">
    <input ng-model="OC.newOwner.last_name" type="text" placeholder="Owner Last Name">
    <input class="btn btn-secondary btn-sm" type="submit">
</form>

<br><br>

<h2>Owners</h2>

<table class="table table-striped">
    <thead class="white">
        <tr class="header">
            <td>Name</td>
            <td>Number of Pets</td>
            <td>Actions</td>
        </tr>
    </thead>
    <tbody class="white">
        <tr ng-repeat="owner in OC.ownersArray">
            <td>{{owner.first_name}} {{owner.last_name}}</td>
            <td>{{owner.count}}</td>
            <td><button class="btn btn-warning  btn-sm" ng-click="OC.deleteOwner($index)">Delete</button></td>
        </tr>
    </tbody>
</table>

</div>
